<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/app/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="true">

    <testsuites>
        <testsuite name="Emoji Parser Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

</phpunit>